@model IEnumerable<Course.Models.Unit>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="unit__container d-flex" style="width: 100vw">
    <div class="unit__main pb-5" style="flex: 3">
        <iframe style="width: 100%"
                height="680"
                src="https://www.youtube.com/embed/">
        </iframe>
        <div class="mt-5 d-flex flex-column m-auto" style="width: 80%">
            <h1 class="fz-28 fw-500">Title</h1>

            <div class="mt-3 fz-12">Cập nhật tháng 11 năm 2022</div>

            <p class="fz-16">
                Tham gia các cộng đồng để cùng học hỏi, chia sẻ và "thám thính" xem
                F8 sắp có gì mới nhé!
            </p>
        </div>
    </div>

    <div class="unit__comment d-flex flex-column" style="flex: 1">
        <h3 class="fz-16 text-white p-3" style="border: solid 1px #808080">
            Nội dung khóa học
        </h3>
        <ul class="d-flex flex-column justify-content-between">
            @foreach (var item in Model)
            {
                <li class="d-flex flex-column py-3 px-4 border-left-top-right gap-1">
                    <a href="">
                        <h6 class="fz-14 text-white">
                            @item.lesson
                    </h6>
                    <span class="fz-12 text-white">
                        <i class="fa-solid fa-circle-play"></i>@item.duration
                    </span>
                </a>
            </li>
        }
        </ul>
    </div>
</div>