@model IEnumerable<Course.Models.Courses>

@{
    ViewBag.Title = "Home Page";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="content">
    <h2 class="text-default fz-24 fw-900">Danh sách khóa học của bạn</h2>
    <div class="d-flex gap-3 flex-wrap mt-3">
        @foreach (var item in Model)
        {


            <div class="course"
                 style="
                     margin:10px;
                    background-image: url(@Url.Content(item.img_course));
            ">
                <div class="course__overlay">
                    <a href="/Courses/Details/@item.course_id" class="px-3 py-2 bg-white text-default border--lg">Xem chi tiết</a>
                    <a href="/Units/Create" class="px-3 py-2 bg-white text-default border--lg">Thêm bài học</a>
                    <a href="/Courses/Delete/@item.course_id" class="px-3 py-2 bg-white text-default border--lg">Xóa</a>
                <h2 style="text-transform: capitalize" class="fz-24 text-white fw-500">@item.title</h2>
                </div>
            </div>

        }
    </div>
</div>