@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<div class="categories">
    <ul class="categories__list d-flex flex-column gap-3 align-items-center">
        <li class="categories__item">
            <div class="categories__item--add">
                <a href="/Courses/Create"><i class="fa-solid fa-plus"></i></a>
            </div>
        </li>
        <li class="categories__item">
            <a href="#" style="" class="categories__item--active gap-2 border-m d-flex flex-column justify-content-center align-items-center">
                <i class="fa-solid fa-house"></i>
                <h6 class="text-default">Home</h6>
            </a>
        </li>
        <li class="categories__item">
            <a href="#" style="" class="categories__item--link gap-2 border-m d-flex flex-column justify-content-center align-items-center">
                <i class="fa-solid fa-road"></i>
                <h6 class="text-default">



                </h6>
            </a>

        </li>
        <li class="categories__item">
            <a href="#" style="" class="categories__item--link gap-2 border-m d-flex flex-column justify-content-center align-items-center">
                <i class="fa-solid fa-lightbulb"></i>
                <h6 class="text-default">Học</h6>
            </a>

        </li>

        <li class="categories__item">
            <a href="#" style="" class="categories__item--link gap-2 border-m d-flex flex-column justify-content-center align-items-center">
                <i class="fa-solid fa-newspaper"></i>
                <h6 class="text-default">Blog</h6>
            </a>

        </li>
    </ul>
</div>
<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:thanhtrolvt02@gmail.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:thanhtrolvt02@gmail.com">Marketing@example.com</a>
</address>