@model IEnumerable<Course.Models.Courses>

@{
    ViewBag.Title = "Home Page";
}

<div class="home__container">
    <div class="hero swiper">
        <div class="swiper-wrapper hero__container">
            <div class="w-100 d-flex justify-content-between swiper-slide">
                <div class="d-flex flex-column gap-3 flex-1 justify-content-between"
                     style="padding: 48px 40px">
                    <h3 class="text-white fz-32 fw-500">F8 trên Facebook</h3>

                    <h5 class="fz-16 text-white">
                        F8 được nhắc tới ở mọi nơi, ở đâu có cơ hội việc làm cho nghề IT
                        và có những con người yêu thích lập trình F8 sẽ ở đó.
                    </h5>

                    <button class="btn btn--white">Truy cập Facebook</button>
                </div>

                <div class="hero__img flex-1">
                    <img src="https://files.fullstack.edu.vn/f8-prod/banners/Banner_01_2.png"
                         alt="" />
                </div>
            </div>

            <div style="
            background: linear-gradient(
              to right,
              rgb(0, 126, 254),
              rgb(6, 195, 254)
            );
          "
                 class="hero__container w-100 d-flex justify-content-between swiper-slide">
                <div class="d-flex flex-column gap-3 flex-1 justify-content-between"
                     style="padding: 48px 40px">
                    <h3 class="text-white fz-32 fw-500">F8 trên Facebook</h3>

                    <h5 class="fz-16 text-white">
                        F8 được nhắc tới ở mọi nơi, ở đâu có cơ hội việc làm cho nghề IT
                        và có những con người yêu thích lập trình F8 sẽ ở đó.
                    </h5>

                    <button class="btn btn--white">Truy cập Facebook</button>
                </div>

                <div class="hero__img flex-1">
                    <img src="https://files.fullstack.edu.vn/f8-prod/banners/Banner_01_2.png"
                         alt="" />
                </div>
            </div>

            <div style="
            background: linear-gradient(
              to right,
              rgb(104, 40, 250),
              rgb(255, 186, 164)
            );
          "
                 class="hero__container w-100 d-flex justify-content-between swiper-slide">
                <div class="d-flex flex-column gap-3 flex-1 justify-content-between"
                     style="padding: 48px 40px">
                    <h3 class="text-white fz-32 fw-500">F8 trên Facebook</h3>

                    <h5 class="fz-16 text-white">
                        F8 được nhắc tới ở mọi nơi, ở đâu có cơ hội việc làm cho nghề IT
                        và có những con người yêu thích lập trình F8 sẽ ở đó.
                    </h5>

                    <button class="btn btn--white">Truy cập Facebook</button>
                </div>

                <div class="hero__img flex-1">
                    <img src="https://files.fullstack.edu.vn/f8-prod/banners/Banner_01_2.png"
                         alt="" />
                </div>
            </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
    </div>


<div class="content">
    <h2 class="text-default fz-24 fw-900">Khóa học miễn phí</h2>
    <div class="d-flex gap-3 flex-wrap mt-3">
        @foreach (var item in Model)
        {

            <div class="course"
                 style=" background-image: url(@Url.Content(item.img_course));">
                <div class="course__overlay">
                    <a href="/Courses/Details/@item.course_id" class="px-3 py-2 bg-white text-default border--lg">Xem khóa học</a>

                    <a href="@Url.Action("Payment","Courses", new { course_id = item.course_id})" class="px-3 py-2 bg-white text-default border--lg">Thanh toán</a>
                </div>
            </div>

        }
    </div>
</div>
    </div>
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

<script>
    var swiper = new Swiper(".swiper", {
        loop: true,
        spaceBetween: 30,
        autoplay: {
            delay: 2500,
            disableOnInteraction: false,
        },
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
    });
</script>